<div class="row">
  <div class="col-md-5">
    <h2>All the Beers</h2>
    <button class="btn btn-warning" (click)="createNewBeer()">Create Beer</button>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let beer of beers"
        (click)="selectBeer(beer)"
        [class.active]="beer === selectedBeer">
        {{beer.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-beer-details
      [beer]="selectedBeer"
      [createHandler]="addBeer"
      [updateHandler]="updateBeer"
      [deleteHandler]="deleteBeer">
    </app-beer-details>
  </div>
</div>