<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="card">
  <div class="card-body">
      <a href="/beer" role="button" class="btn btn-primary">View Beers</a>
      <a href="/auth" role="button" class="btn btn-primary">Admin Portal</a>
    </form>
  </div>
</div>
