<a role="button" class="btn btn-primary" href="/beer/new">
  create new beer
</a>
<hr></hr>
<ul class="list-group">
  {{#each beers}}
    <a href="/beer/{{id}}" class="list-group-item">{{name}}</a>
  {{/each}}
</ul>